
.app h1{
    font-family: Arial, Helvetica, sans-serif
}

.app h2{
         font-family: Arial, Helvetica, sans-serif
}

.app h3{
         font-family: Arial, Helvetica, sans-serif
}

.app h4{
         font-family: Arial, Helvetica, sans-serif
}

.app h5{
         font-family: Arial, Helvetica, sans-serif
}

.app p{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}